<div class="container">
  <div class="row">
    <div class="panel panel-info">
        <div class="panel-heading">
          <h1>Ingresar tienda</h1>
        </div>
        <div class="panel-body">
          <form (ngSubmit)="ingresar()" #fIngresar="ngForm">

            <div class="form-group">
              <input type="text" name="titulo" placeholder="Ingresar el nombre de la tienda" ngModel class="form-control" required>
            </div>

            <div class="form-group">
              <!-- <input type="text" name="descripcion" placeholder="Ingresar descripcion" ngModel class="form-control" required> -->

              <textarea name="descripcion" class="form-control" cols="120" rows="4" placeholder="Ingresar descripcion" ngModel required
              maxlength="500"></textarea>

            </div>

            <div class="form-group">
              <input type="text" name="direccion" placeholder="Ingresar la direccion de tu tienda" ngModel class="form-control" required>
            </div>

            <div class="form-group">
              <input type="text" name="horario" placeholder="Ingresar el horario" ngModel class="form-control" required>
            </div>

            <div class="form-group">
              <input type="text" name="imagen" placeholder="Ingresar la direccion de la imagen de tu tienda" ngModel class="form-control" required>
            </div>

            <div class="form-group">
              <button type="submit"> Ingresar </button>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>

